{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/proveedores.css') }}">
{% endblock %}

{% block body %}

<div class="mb-3 titulo mt-3 d-flex justify-content-between">
    <h2>{{ title }}</h2>
</div>

    <div class="container d-flex align-self-center align-items-center">

        <div style="width: 40%;" class="mr-2">
            <img width="90%" src="{{ asset('img/proveedor.jpg') }}" alt="Imagen sección registro proveedores">
        </div>

        <div style="width: 60%;" class="pt-5 pb-5 bg-white shadow p-3 bg-white rounded">
            <form method="POST" action="{{ path('crearProveedor') }}">
                <div class="row mb-3">
                    <label for="nombre" class="col-md-4 col-form-label text-md-end"><strong class="pl-5">Nombre: </strong></label>
                    <div class="col-md-6">
                        <input id="nombre" type="text" class="form-control" name="nombre" value="{{ proveedor.datos.nombre ?? '' }}" required autofocus>
                        <small class="text-danger">{{ proveedor.nombre ?? '' }}</small>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="email" class="col-md-4 col-form-label text-md-end"><strong class="pl-5">Email: </strong></label>
                    <div class="col-md-6">
                        <input id="email" type="text" class="form-control" name="email" value="{{ proveedor.datos.email ?? '' }}" required autofocus>
                        <small class="text-danger">{{ proveedor.email ?? '' }}</small>
                        <small class="text-danger">{{ proveedor.existente ?? '' }}</small>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="telefono" class="col-md-4 col-form-label text-md-end"><strong class="pl-5">Teléfono: </strong></label>
                    <div class="col-md-6">
                        <input id="telefono" type="text" class="form-control" name="telefono" value="{{ proveedor.datos.telefono ?? '' }}" autofocus>
                        <small class="text-danger">{{ proveedor.telefono ?? '' }}</small>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="tipo" class="col-md-4 col-form-label text-md-end"><strong class="pl-5">Tipo: </strong></label>
                    <div class="col-md-6">
                        <select name="tipo" class="form-control" required>
                            {% if proveedor is defined %}
                                <option value=""></option>
                                <option value="hotel" {% if proveedor.datos.tipo == 'hotel' %}selected{% endif %}>Hotel</option>
                                <option value="pista" {% if proveedor.datos.tipo == 'pista' %}selected{% endif %}>Pista</option>
                                <option value="complemento" {% if proveedor.datos.tipo == 'complemento' %}selected{% endif %}>Complemento</option>
                            {% else %}
                                <option value="" selected></option>
                                <option value="hotel">Hotel</option>
                                <option value="pista">Pista</option>
                                <option value="complemento">Complemento</option>
                            {% endif %}
                        </select>
                        <small class="text-danger">{{ proveedor.tipo ?? '' }}</small>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="activo" class="col-md-4 col-form-label text-md-end"><strong class="pl-5">Activo: </strong></label>
                    <div class="col-md-6">
                        <select name="activo" class="form-control" required>
                            {% if proveedor is defined %}
                                <option value=""></option>
                                <option value="true" {% if proveedor.datos.activo == 'true' %}selected{% endif %}>Si</option>
                                <option value="false" {% if proveedor.datos.activo == 'false' %}selected{% endif %}>No</option>
                            {% else %}
                                <option value="" selected></option>
                                <option value="true">Si</option>
                                <option value="false">No</option>
                            {% endif %}
                        </select>
                        <small class="text-danger">{{ proveedor.activo ?? '' }}</small>
                    </div>
                </div>
                <div class="row mb-0">
                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="w-100 btn btn-primary btn-dark">
                            Crear
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>

{% endblock %}