<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Viajes Para Ti{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="{{ asset('img/ViajesParaTiIcon.png') }}">
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <script src="https://kit.fontawesome.com/ab9c717bd5.js" crossorigin="anonymous" defer></script>

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <nav class="p-1 navbar navbar-expand-lg d-flex align-content-center">
            <div class="container">
                <a class="navbar-brand" href="{{ path('paginaPrincipal') }}"><img width="105" src="{{ asset('img/ViajesParaTiLogo.png') }}" alt="Logotipo de Viajes Para Ti"></a>
                
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-item nav-link active" href="{{ path('proveedores') }}">Proveedores</a>
                      <a class="nav-item nav-link" href="#">Escapadas</a>
                      <a class="nav-item nav-link" href="#">Packs</a>
                      <a class="nav-item nav-link" href="#">Usuarios</a>
                    </div>
                </div>
            </div>
        </nav>

        {% block header %}
        {% endblock %}

        <div class="container d-flex flex-column">
            {% block body %}
                {% block tituloSeccion %}
                {% endblock %}
            {% endblock %}
        </div>
    </body>
</html>
